.content {
	background: var(--bgColor-emphasis);
	color: var(--fgColor-onEmphasis);
	font-size: var(--text-body-size-small);
	line-height: var(--text-body-lineHeight-small);
	padding: var(--base-size-4) var(--base-size-8);
	border-radius: var(--borderRadius-medium);
	max-width: 250px;
	z-index: 3;
}
