[data-resolved-theme="dark"] {
	color-scheme: dark;
}

[data-resolved-theme="dark"] {
	--diffs-foreground: var(--fgColor-default);
	--diffs-background: var(--bgColor-default);
	--diffs-token-constant: var(--color-prettylights-syntax-constant);
	--diffs-token-string: var(--color-prettylights-syntax-string);
	--diffs-token-comment: var(--color-prettylights-syntax-comment);
	--diffs-token-keyword: var(--color-prettylights-syntax-keyword);
	--diffs-token-parameter: var(--color-prettylights-syntax-variable);
	--diffs-token-function: var(--color-prettylights-syntax-entity);
	--diffs-token-string-expression: var(--color-prettylights-syntax-string);
	--diffs-token-punctuation: var(--fgColor-default);
	--diffs-token-link: var(
		--color-prettylights-syntax-constant-other-reference-link
	);

	--diffs-light: var(--fgColor-default);
	--diffs-dark: var(--fgColor-default);
	--diffs-light-bg: var(--bgColor-default);
	--diffs-dark-bg: var(--bgColor-default);

	--diffs-bg-addition-override: var(--diffBlob-additionLine-bgColor);
	--diffs-bg-addition-number-override: var(--diffBlob-additionNum-bgColor);
	--diffs-bg-addition-emphasis-override: var(--diffBlob-additionWord-bgColor);
	--diffs-bg-deletion-override: var(--diffBlob-deletionLine-bgColor);
	--diffs-bg-deletion-number-override: var(--diffBlob-deletionNum-bgColor);
	--diffs-bg-deletion-emphasis-override: var(--diffBlob-deletionWord-bgColor);
	--diffs-bg-separator-override: var(--diffBlob-hunkLine-bgColor);
	--diffs-fg-number-override: var(--fgColor-muted);

	--diffs-addition-color-override: var(--fgColor-success);
	--diffs-deletion-color-override: var(--fgColor-danger);
	--diffs-modified-color-override: var(--fgColor-attention);

	--diffs-font-family: var(--fontStack-monospace);

	--diffs-font-size: var(--text-codeBlock-size);
	--diffs-line-height: var(--text-codeBlock-lineHeight);
}
